[submodule "o-voxel/third_party/eigen"]
	path = o-voxel/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/PartField"]
	path = third_party/PartField
	url = https://github.com/nv-tlabs/PartField.git
